@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Main  */

purchasePage {
    height: auto;
    margin: 20px 150px;
    font-family: "Gowun Dodum", sans-serif;
}

purchasePage header {
    display: flex;
    justify-content: space-between;

}

purchasePage header .container {
    width: 75%;
    display: column;
}

/* 메인 로고 */
purchasePage header .logo {
    width: 100%;
    height: 90px;
}

purchasePage header .logo .logo_pic {
    width: 100%;
    height: 100%;
    background-image: url(../../img/jikbakguri2.png);
    background-repeat: no-repeat;
}

/* 메인 메뉴 */
purchasePage header .pageMenu {
    width: 90%;
    height: 50px;
    display: flex;
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

purchasePage header .pageMenu li {
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Gowun Dodum", sans-serif;
}


/* 우측 회원가입, 로그인, 마이페이지 부분 */
purchasePage header .userMenu {
    width: 25%;
    display: flex;
}

purchasePage header .userMenu button {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Gowun Dodum", sans-serif;
}

/* 메인 */

purchasePage .mainContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 메인 왼쪽 부분 */
purchasePage .mainContainer .left {
    width: 60%;
}

purchasePage .creationName {
    width: 95%;
    margin: 10px 0;
    text-align: center;
}

purchasePage section {
    width: 95%;
    height: 500px;
    border-radius: 5px;
    margin: 0px 0px 20px;
    overflow: hidden;
}


/* 메인 이미지 */
purchasePage section .CreationImgView img {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background-size: cover;
}


/* 메인 오른쪽 부분 */
purchasePage .mainContainer .right {
    width: 40%;
}

purchasePage .mainContainer .right .creatorInformation {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    line-height: 400%;
    margin: 10px 0px 15px 0px;
}


purchasePage .down {
    display: flex;
    justify-content: center;
    
}

purchasePage .down button {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 50px;
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 40px 40px black inset;
    transition: all 300ms ease-in-out;
}

purchasePage .down button:hover {
    box-shadow: 0 0 10px 0 rgb(158, 158, 235) inset, 0 0 10px 1px blue;
}