@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Main  */
/* detail1 시작  */

.purchasePage {
  height: auto;
  margin: 30px 100px;
  font-family: "Gowun Dodum", sans-serif;
}

/* 상단 로고 */

.purchasePage header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchasePage header .logo_pic {
  width: 65%;
}

.purchasePage header .logo_pic img {
  width: 50%;
}

.purchasePage header .jlmToBtn {
  width: 25%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* join, loing, mypage */
.purchasePage header .jlmToBtn button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
}

.purchasePage header .jlmToBtn button:hover {
  color: orange;
}

/* nmenu */

.purchasePage header .scroll {
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(184, 181, 181);
}

.purchasePage header .scroll .menu {
  width: 100%;
}

.purchasePage header .scroll .menu .menu_inner {
  width: 100%;
  height: 70px;
  display: flex;
  background: white;
  border: none;
  align-items: center;
  text-align: center;
}

.purchasePage header .menu li {
  width: 15%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.purchasePage header .menu li:hover {
  color: orange;
}

/* 우측 서치부분 */
.purchasePage header .search {
  width: 40%;
  display: flex;
  align-items: center;
}

.purchasePage header .search input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  margin-left: 100px;
  background-color: rgb(243, 243, 243);
  outline: none;
}

.purchasePage header .search i {
  position: relative;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.purchasePage header .login button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Gowun Dodum", sans-serif;
}

/* 메인 */

/* title */
.purchasePage div.creationName {
  text-align: center;
  font-size: 50px;
  padding: 150px 0px 80px 0px;
}

/* purchase */

.purchasePage .purchase {
  height: auto;
  padding-top: 100px;
  margin-left: 35px;
  font-family: "Gowun Dodum", sans-serif;
}

.purchasePage .purchase .container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* purchase 왼쪽 사진부분 */
.purchasePage .purchase .container .left {
  width: 50%;
  height: 600px;
}

/* purchase 왼쪽 사진*/
.purchasePage .purchase .container .left img {
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

/* 메인 오른쪽 부분 */
.purchasePage div.right {
  width: 50%;
  display: inline-block;
}

.purchasePage table.creatorInformation {
  font-size: 19px;
  border-spacing: 40px;
}

.purchasePage table.creatorInformation th {
  width: 100px;
  vertical-align: top;

}



.purchasepopup {
  height: auto;
  margin: 200px 100px 10px 100px;
  font-family: "Gowun Dodum", sans-serif;
  display: flex;
  justify-content: center;
}

.purchasepopup #wrap {
  width: 65%;
  height: 1500px;
}

.purchasepopup #accordian .number {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #888;
  font-size: 36px;
  text-align: center;
  border-radius: 100%;
  float: left;
}

.purchasepopup #accordian .step {
  width: 100%;
  height: 63px;
  background: rgb(52, 99, 255);
  font-family: "Gowun Dodum", sans-serif;
  color: #FFF;
  padding-left: 1%;
  padding-top: 5px;
  border-radius: 8px;
  border-bottom: 3px solid #d9d9d9;
  float: left;
}

.purchasepopup #accordian .title {
  float: left;
  width: 80%;
  height: 50px;
  margin-left: 1%;
  font-size: 1em;
  font-weight: 300;
}


.purchasepopup #accordian .title h1 {
  font-weight: 400;
}



.purchasepopup #accordian .content .box {
  width: 450px;
  height: 50px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
  border-radius: 3px;
  text-indent: 10px;
  outline-color: gray;
}

.purchasepopup #accordian .content {
  padding: 2em 2em;
  width: 100%;
  background: #FFF;
  float: left;
}

.purchasepopup #accordian #textarea_id {
  width: 100%;
  height: 120px;
}

.purchasepopup .check {
  margin-top: 1.5rem;
  margin-bottom: 1.0rem;
}

.purchasepopup .order {
  width: 100%;
  height: 55px;
  border-style: none;
  border-radius: 9px;
  color: white;
  background-color: rgb(52, 99, 255);
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.purchasepopup .order:hover {
  background: rgb(82, 111, 163);
}

/* 합계 금액 계산창 */


fieldset {
  border: none;
  border-radius:3px;
  color: black;
  font-size:30px;
  width:20em;
}
label {
  display:table;
  vertical-align:baseline;
}


label:hover, input:hover {
  cursor:pointer;
}

#sum
{
  margin-top:2px;
  margin-left:5px;
  font-size: 35px;
  overflow:hidden;
}

#sum strong
{
  /* required for the animation */
  display:inline-block;
  position:relative;
}
