@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;

}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  
}

li {
  list-style: none;
}

/* Main  */

.purchase1 main {
  height: auto;
  margin: 10px 50px;
  
}

.purchase1 main header {
  /* display: flex; */
  justify-content: space-between;
}

.purchase1 main header .container1 {
  width: 75%;
  display: column;
}

.purchase1 main header .logo {
  width: 100%;
  height: 90px;
}

.purchase1 main header .logo .logo_pic {
  width: 100%;
  height: 100%;
  background-image: url(../../img/jikbakguri2.png);
  background-repeat: no-repeat;
}

.purchase1 main header .menu {
  width: 90%;
  height: 50px;
  display: flex;
  background: transparent;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}

.purchase1 main header .menu li {
  width: 15%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Gowun Dodum", sans-serif;
}

.purchase1 main header .menu li:hover{
  color: orange;
}





.purchase1 main header .login {
  width: 25%;
  display:flex;
}



.purchase1 main header .login button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Gowun Dodum", sans-serif;
  
}

.purchase1 main header .login button:hover {
  color: orange;
}


.purchase1 main header{
  display: flex;
}


.purchase1 main section {
    width: 100%;
    height: 470px;
    border-radius: 5px;
    margin: 0px 0px 20px;
    overflow: hidden;
}
/* Main 끝 */


/* 슬라이더 */
.purchase1 .sildeshow-container{
   padding: 30px;
}

.purchase1 .Slidesbackground {
    margin: 0;
    padding: 0;
}

.purchase1 .slideshow-image{
    border-radius: 1%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.purchase1 .mySlides {
    width: 300%;
    height: 450px;
    /* justify-content: center; */
    align-items: center;
}




/* 슬라이드 끝 */

/* 작품구매 텍스트 */

.purchase1 .purchase-items p{
  text-size-adjust: 100px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 25px;
  font-family: "Gowun Dodum", sans-serif;
}

/* 작품구매 텍스트 끝 */



  /* 작품구매창 */
  .purchase1 section.portfolio .portfolio-inner{
    width: 300px;
    margin-top: 7%;
    margin-right:7%;
    padding:1rem 1rem 1.5rem 1rem;
    float:left;
    background-color:#f8f8f8;
    border:1px solid #ccc;
    margin-bottom:3rem;
    
    
  }
 


  .purchase1 section.portfolio .portfolio-inner:nth-child(3n){
     margin-right:0;
  }
 
  .purchase1 section.portfolio .portfolio-inner img{
    width:100px;
    height: 100px;
    display:block;
    
  }

  .purchase1 section.portfolio .portfolio-inner strong{
    margin:0.5rem 0;
    display:block;
    font-family: "Gowun Dodum", sans-serif;
    
  }
  
  .purchase1 section.portfolio .portfolio-inner h3{
    font-size:1.75rem;
  }


  
   /* 작품구매창 끝 */
  
