@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;

}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  
}

li {
  list-style: none;
}

/* Main  */
/* 상단 로고 */

main header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header .logo_pic {
  width: 65%;
}

main header .logo_pic img {
  width: 50%;
}

main header .jlmToBtn {
  width: 25%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

main header .jlmToBtn button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
}

main header .jlmToBtn button:hover {
  color: orange;
  font-weight: bold;
}

/* nmenu */

main header .scroll {
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(184, 181, 181);
}

main header .scroll .menu {
  width: 100%;
}

main header .scroll .menu .menu_inner {
  width: 100%;
  height: 70px;
  display: flex;
  background: white;
  align-items: center;
  text-align: center;
  font-family: "Gowun Dodum", sans-serif;
}

main header .menu li {
  width: 15%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Gowun Dodum", sans-serif;
}

main header .menu li:hover {
  color: orange;
  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
}

/* 우측 서치부분 */
main header .search {
  width: 40%;
  display: flex;
  align-items: center;
}

main header .search input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  margin-left: 100px;
  background-color: rgb(243, 243, 243);
  outline: none;
  font-family: "Gowun Dodum", sans-serif;
}

main header .search i {
  position: relative;
  right: 30px;
  font-size: 18px;
  cursor: pointer;
}

main header .login button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Gowun Dodum", sans-serif;
}

/* 메인 */

main .mainBox {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* 메인 왼쪽 부분 */
main .mainBox .left {
  width: 75%;
}

/* Main 끝 */


/* 슬라이더 */
.purchase1 .sildeshow-container{
   padding: 30px;
}

.purchase1 .Slidesbackground {
    margin: 0;
    padding: 0;
}

.purchase1 .slideshow-image{
    border-radius: 1%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.purchase1 .mySlides {
    width: 300%;
    height: 350px;
    /* justify-content: center; */
    align-items: center;
}




/* 슬라이드 끝 */

/* 작품구매 텍스트 */


.purchase1 .purchase-items p{
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 1px;
  font-family: "Gowun Dodum", sans-serif;
  padding:1rem 1rem 1.5rem 1rem;
  
}

/* 작품구매 텍스트 끝 */



  /* 작품구매창 */
  .purchase1 section.portfolio .portfolio-inner{
    width: 300px;
    margin-top: 1px;;
    padding:1rem 1rem 1.5rem 1rem;
    float:left;
    background-color:#f8f8f8;
    margin-bottom:3rem;
    
    
  }

  .purchase1 section.portfolio .portfolio-inner #name{
    font-size: 12px;
    color: gray;
  }

  .purchase1 section.portfolio .portfolio-inner #cost{
    font-size: 18px;
    color: rgba(0, 89, 255, 0.87);
  }

  
 


  .purchase1 section.portfolio .portfolio-inner:nth-child(4n){
     margin-right:0;
  }
 


  .purchase1 section.portfolio .portfolio-inner img{
    width:300px;
    height: 250px;
    display:block;
    
  }

  .purchase1 section.portfolio .portfolio-inner strong{
    margin:0.5rem 0;
    display:block;
    font-family: "Gowun Dodum", sans-serif;
    
  }
  
  .purchase1 section.portfolio .portfolio-inner h3{
    font-size:1.75rem;
  }


  
   /* 작품구매창 끝 */
  
