* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}
section.portfolio p{
    /* text-align: center; */
    margin: 1.5ch;
}
  


  section.portfolio .portfolio-inner{
    width: 40%;
    height: 300px;
    background-color:#f8f8f8;
    border:3px solid black;
    margin-bottom:3rem;
    margin: 0 auto;
  }
  section.portfolio .po {
    width: 40%;
    height: 50px;
    background-color:#f8f8f8;
    border:3px solid black;
    margin-bottom:3rem;
    margin: 0 auto;
  }
 
  
 
  section.portfolio .portfolio-inner img{
    width:100%;
    display:block;
    
  }

  
  
  section.portfolio .portfolio-inner h3{
    font-size:1.75rem;
  }
  


  section.portfolio .portfolio-inner .input1 {
    display: block;
    width: 250px;
    height: 40px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-indent: 10px;
    outline-color: gray;
}

