.detail_Pop * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail_Pop a,
.detail_Pop a:link,
.detail_Pop a:visited {
    color: inherit;
    text-decoration: none;
}

.detail_Pop li {
    list-style: none;
}

.detail_Pop {
    display: flex;
    justify-content: center;
}

.detail_Pop .container {
    -ms-flex-item-align:center;

}

.detail_Pop .detailsBox {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #1E90FF;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

/* detail_Pop.discription {

}

detail_Pop.cnt {

}

detail_Pop.payment {

} */