detail_2 .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

detail_2 .container .left {
    width: 50%;
    height: 600px;
    /* margin-left: 30px; */
}

detail_2 .container .left img {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
}

detail_2 .container .right {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    
}

detail_2 .container .right .target_price,
.price,
.restDate,
.persons,
.supporter,
.sponsor {
    width: 100%;
    /* border: 1px solid black; */
}

detail_2 .container .right div p {
    margin-bottom: 1px;
}

detail_2 .container .right div strong {
    font-size: 30px;
}

detail_2 .container .right button.sponsor {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    cursor: pointer;

}

