*{
    box-sizing:border-box;
  /*   -webkit-box-sizing:border-box; */
    -moz-box-sizing:border-box;
  }
  
  
  body{
    padding:0;
    margin:0;
    background: white;
  }
  
  .detail_5 #copyright{
    width:80%;
    margin:50px auto;
    height: 2000px;
  }
  .detail_5 #textarea_id{
    width: 100%;
    height: 350px;
    font-size: 14px;
    margin-top: 50px;
  }
  
  
  
  
  
  
  
  
  
  
  