*{
    box-sizing:border-box;
  /*   -webkit-box-sizing:border-box; */
    -moz-box-sizing:border-box;
  }
  
  
  .detail_Pop{
    display: flex;
    background: white;
  }

  .detail_Pop .container{
    text-align: center;
    line-height: 100%;
    width:100%;
    height: 2000px;
  }
  
  .detail_Pop .title{
    text-align: center;
    padding: 50px;
    align-items: center;
  }


  .detail_Pop #detailBox{
    text-align: center;
    width: 70%;
    height: 350px;
    font-size: 14px;
  }

    .detail_Pop .cnt{
        display: inline-block;
        height: 100px;
  }