@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* detail1 시작  */

.detail_1 {
  height: auto;
  margin: 20px 50px;
  font-family: "Gowun Dodum", sans-serif;
}

/* 상단 로고 */

.detail_1 header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_1 header .logo_pic {
  width: 65%;
}

.detail_1 header .logo_pic img {
  width: 50%;
}

.detail_1 header .jlmToBtn {
  width: 25%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* join, loing, mypage */
.detail_1 header .jlmToBtn button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
}

.detail_1 header .jlmToBtn button:hover {
  color: orange;
}

/* nmenu */

.detail_1 header .scroll {
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(184, 181, 181);
}

.detail_1 header .scroll .menu {
  width: 100%;
}

.detail_1 header .scroll .menu .menu_inner {
  width: 100%;
  height: 70px;
  display: flex;
  background: white;
  border: none;
  align-items: center;
  text-align: center;
}

.detail_1 header .menu li {
  width: 15%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.detail_1 header .menu li:hover {
  color: orange;
}

/* 우측 서치부분 */
.detail_1 header .search {
  width: 40%;
  display: flex;
  align-items: center;
}

.detail_1 header .search input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  margin-left: 100px;
  background-color: rgb(243, 243, 243);
  outline: none;
}

.detail_1 header .search i {
  position: relative;
  right: 30px;
  font-size: 18px;
  cursor: pointer;
}

.detail_1 header .login button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-family: "Gowun Dodum", sans-serif;
  
}

/* title */
.title {
  text-align: center;
  font-size: 50px;
  padding: 150px 0px 50px 0px;
  padding: ;
}

.detail_1 .guide .comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.detail_1 .guide .comment .inner {
  width: 70%;
  font-size: 26px;
}



/* sticky 화면 고정 */

.sticky {
  width: 100%;
  display: flex;
  
  padding: 30px 0px 30px 0px;
  color: black;
  position: sticky;
  top: 0;
  padding-left:80px;
}

.sticky ul {
  list-style-type: none;
  padding: 0;
  font-size: 26px;
  text-align: center;
}

.sticky li {
  display: inline-block;
  margin-left: 60px;
  font-size: 26px;
  font-weight: bold;
}

.sticky .one1:hover{
  color: #2d50c5;
}

.sticky .one2:hover{
  color: #2d50c5;
}

.sticky .one3:hover{
  color: #2d50c5;
}

/* sticky 화면 고정끝 */



/* detail_2 */

.detail_2 {
  height: auto;
  /* margin: 150px 250px 250px 200px; */
  padding: 100px;
  font-family: "Gowun Dodum", sans-serif;
}

.detail_2 .container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* detail_2 왼쪽 사진부분 */
.detail_2 .container .left {
  width: 50%;
  height: 600px;
}

/* detail_2 왼쪽 사진*/
.detail_2 .container .left img {
  width: 100%;
  height: 600px;
  border-radius: 15px;
}

/* detail_2 오른쪽 구성 */
.detail_2 .container .right {
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  position: relative;
  left: 30px;
}

.detail_2 .container .right div strong {
  font-size: 30px;
}

/* detail_2 오른쪽 하트 버튼 */

.detail_2 .container .right .spoBtn {
  display: flex;
  align-items: center;
}

.detail_2 .container .right button.love {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(52, 99, 255);
  border-radius: 15px;
  margin-right: 10px;
  background-color: white;
}

.detail_2 .container .right button.love .loveBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  color: rgb(52, 99, 255);
  background-color: white;
  cursor: pointer;
}

.detail_2 .container .right button.love .loveBtn i {
  margin-bottom: 5px;
}

/* detail_2 오른쪽 후원버튼 */
.detail_2 .container .right button.sponsor {
  width: 70%;
  height: 70px;
  border: 1px solid;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
  background-color: rgb(52, 99, 255);
  cursor: pointer;
  transition: 0.5s;
}

/* detail_2 오른쪽 후원버튼 기능 */
.detail_2 .container .right button.sponsor:hover {
  background-color: rgb(0, 26, 111);
}


/* detail_3  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.detail3 .bigbox {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.detail3 .bigbox .left {
  width: 60%;
  text-align: center;
}

.detail3 .bigbox .left .descriptiontext {
  padding: 20px;
  font-size: 30px;
}

.detail3 .bigbox .left .descriptiontext p {
  font-size: 16px;
}

.detail3 .bigbox .left .left_inner img {
  width: 100%;
  padding: 20px;
}

.detail3 .bigbox .right {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.detail3 .bigbox .right .descriptiontext {
  width: 300px;
  margin-top: 20px;
  font-size: 30px;
}

.detail3 .bigbox .right .product {
  width: 100%;
  height: 100px;
  background-color: #4a74ff;
  color: white;
  border-radius: 3px;
  margin: 20px 0px 20px 0px;
  transition: all 0.2s;
  cursor: pointer;
  border-color:transparent;    
}

.detail3 .bigbox .right .product:hover {
  /* background-color: rgb(49, 74, 156); */
  background-color: #2d50c5;
  border-color: rgb(0, 0, 0);
  border-style:solid;
}

/* detail 3 끝 */

/* detail 4 시작  */

.detail_4{
  padding-left:  130px;
  padding-bottom: 60px
}


.detail_4 h2{
  padding-top: 130px;
  padding-bottom: 50px;
}



/* detail 4 끝 */





/* detail 5 시작 */
*{
  box-sizing:border-box;
/*   -webkit-box-sizing:border-box; */
  -moz-box-sizing:border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body{
  padding:0;
  margin:0;
  background: white;
}

.detail_5 #copyright{
  width:80%;
  margin:50px auto;
  font-family: "Gowun Dodum", sans-serif;
}
.detail_5 #textarea_id{
  width: 100%;
  height: 600px;
  font-size: 14px;
  margin-top: 30px;
  font-weight:bold;
  font-family: "Gowun Dodum", sans-serif;
  border: transparent;
  display:flex;
  text-align: left;
}

/* detail 5 끝 */

/* 미디어 쿼리 */
/* 큰화면 데스크탑 (가로 해상도가 1800px 보다 큰 화면에 적용)  */
@media only all and (min-width: 1800px) {
  /* detail1 시작  */

  .detail_1 {
    margin: 20px 150px;
  }

  /* title */
  .detail_1 .title {
    margin: 100px 0px 100px 0px;
  }

  .detail_1 .guide .comment {
    width: 100%;
    height: 500px;
  }

  .detail_1 .guide .list {
    width: 100%;
    height: 200px;
  }

  /* detail_2 */

  .detail_2 {
    margin: 150px 250px 250px 200px;
  }

}


/* 구분라인 */
.detailclone .line{
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
  position: relative;
  top:10px;
  margin-left: 120px;
  margin-right: 120px;
}