@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap");

*{
    box-sizing:border-box;
  /*   -webkit-box-sizing:border-box; */
    -moz-box-sizing:border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  body{
    padding:0;
    margin:0;
    background: white;
  }
  
  /* detail 5 시작 */

.detail_5 #copyright {
  width: 80%;
  margin: 130px auto;
  font-family: "Gowun Dodum", sans-serif;
}

.detail_5 #textarea_id {
  width: 100%;
  height: 600px;
  font-size: 14px;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
  border: transparent;
  display: flex;
  text-align: left;
}

.detailclone .detail_5 .explain {
  margin: 100px 150px;
  font-family: "Gowun Dodum", sans-serif;
}

/* detail 5 끝 */
  
  
  
  
  
  
  
  
  
  