@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Gowun Dodum", sans-serif;
    box-sizing: border-box;
    box-sizing:border-box;
  /*   -webkit-box-sizing:border-box; */
    -moz-box-sizing:border-box;
  }

  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .detail_Pop{
    display: flex;
    flex-direction: column;
    background: white;
  }

  .detail_Pop .container{
    text-align: center;
    line-height: 100%;
    width:100%;
    height: 2000px;
  }
  
  .detail_Pop .title{
    margin-top: 10px;
    text-align: center;
    padding: 50px;
    align-items: center;
  }

  .detail_Pop div.discription {
    width: 40%;
    height: 350px;
    margin: 10px auto;
    border: solid 1px black;
    font-size: 16px;
    line-height: 50px;
    border-radius: 10px;
    
  }

    .detail_Pop .cnt{
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        
  }

  .detail_Pop .cntBtn{
    border: none;
    width: 50px;
    height: 50px;
    
}

.detail_Pop span#result.cntView {
  border: none;
  width: 100px;
  height: 50px;
  
}
.detail_Pop span#result.cntView {
  border: none;
  width: 100px;
  height: 50px;
  
}

.detail_Pop .amount {
  display: inline-block;
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin: 20px 10px;
  
}


  .detail_Pop div.payment button {
    width: 30%;
    height: 60px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 40px 40px black inset;
    transition: all 300ms ease-in-out;
}

.detail_Pop div.payment button:hover {
    box-shadow: 0 0 10px 0 rgb(158, 158, 235) inset, 0 0 10px 1px rgb(235, 235, 238);

}