/* detail 4 시작  */

.detail_4 {
    padding-left: 130px;
    padding-bottom: 130px;
    font-family: "Gowun Dodum", sans-serif;
}

.detail_4 h2 {
    padding-top: 130px;
    padding-bottom: 50px;
}

/* detail 4 끝 */