@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

@media only all and (min-width: 1200px) {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gowun Dodum", sans-serif;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* detail_3  */

.detail3 .bigbox {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    font-family: "Gowun Dodum", sans-serif;
}

.detail3 .bigbox .left {
    width: 60%;
    text-align: center;
}

.detail3 .bigbox .left .descriptiontext {
    padding: 20px;
    font-size: 30px;
}

.detail3 .bigbox .left .descriptiontext p {
    font-size: 16px;
}

.detail3 .bigbox .left .left_inner img {
    width: 100%;
    padding: 20px;
}

.detail3 .bigbox .right {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.detail3 .bigbox .right .descriptiontext {
    width: 300px;
    margin-top: 20px;
    font-size: 30px;
    position: sticky;
    top: 0;
    padding-top: 30px;
}

.detail3 .bigbox .right .product {
    width: 100%;
    height: 100px;
    background-color: #4a74ff;
    color: white;
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    transition: all 0.2s;
    cursor: pointer;
    border-color: transparent;
    font-family: "Gowun Dodum", sans-serif;
}

.detail3 .bigbox .right .product:hover {
    background-color: #2d50c5;
    border-color: rgb(0, 0, 0);
    border: none;
}

/* detail3 추가 */

.projectext0 {
    background-color: pink;
    padding-bottom: 30px;
    font-family: "Gowun Dodum", sans-serif;
}


.projectext0 .phototitle {
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.projectext0 #photoname {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.projectext0 #photoname1 {
    font-size: 15px;
    text-align: center;
}

.projectext0 #photoname2 {
    color: rgba(0, 119, 255, 0.596);
    font-size: 35px;
    text-align: center;
}

.projectext0 #photoname3 {
    color: gray;
    font-size: 15px;
    text-align: center;
}

.descriptiontext #explainex {
    margin-top: 90px;
}


/* detail3 추가 끝 */

/* detail 3 끝 */