@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Main  */

main {
    height: auto;
    margin: 10px 50px;
}

main header {
    display: flex;
    justify-content: space-between
}

main header .container {
    width: 75%;
    display: column;
}

main header .logo {
    width: 100%;
    height: 90px;
}

main header .logo .logo_pic {
    width: 100%;
    height: 100%;
    background-image: url(../../img/jikbakguri2.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

main header .menu {
    width: 90%;
    height: 50px;
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    text-align: center;
}

main header .menu li {
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Gowun Dodum", sans-serif;
}

main header .login {
    width: 25%;
    display: flex;
}

main header .login button {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Gowun Dodum", sans-serif;
}

/* 메인 슬라이드 사진 */

main .mainBox {
    width: 100%;
}

main .mainBox .left {
    width: 75%;
}

main .mainBox .right {
    width: 20%;
}



main section {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: 0px 0px 20px;
    overflow: hidden;
}

main section .pic_container {
    width: 100%;
    height: 500px;
    position: relative;
}

main section .pic_slider {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

main section .pic_slider li {
    width: 33.33%;
}

main section .pic_slider li img {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background-size: cover;
}

/* 서브 슬라이드 사진 */

main sub {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

main sub div {
    width: 24%;
    height: 180px;
    position: relative;
}

main sub .pic_container .pic_list img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    background-size: cover;
    position: absolute;
}

main sub button {
    all: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

main sub .btn1,
main sub .btn3,
main sub .btn5,
main sub .btn7 {
    left: 10px;
}

main sub .btn2,
main sub .btn4,
main sub .btn6,
main sub .btn8 {
    right: 10px;
}