@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* admin 시작  */

.admin {
    height: auto;
    margin: 20px 50px;
    font-family: "Gowun Dodum", sans-serif;
}

/* 상단 로고 */

.admin header .logo_pic {
    width: 65%;
}

.admin header .logo_pic img{
    width: 50%;
}

/* nmenu */

.admin header .scroll {
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgb(243, 243, 243);
}

.admin header .scroll .menu{
    width: 100%;
}

.admin header .scroll .menu .menu_inner {
    width: 100%;
    height: 70px;
    display: flex;
    background: white;
    border: none;
    align-items: center;
    text-align: center;
}

.admin header .menu_inner li {
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

/* 우측 서치부분 */
.admin header .search {
    width: 40%;
    display: flex;
    align-items: center;
}

.admin header .search input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-left: 100px;
    background-color: rgb(243, 243, 243);
    outline: none;
}

.admin header .search i {
    position: relative;
    right: 30px;
    font-size: 18px;
    cursor: pointer;
}



.admin header .login button {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Gowun Dodum", sans-serif;
}

/* section */

.admin section .pic_container {
    width: 100%;
    margin-top: 15px;
}

/* section 멘트 */
.admin section .pic_container .maindComment {
    font-size: 20px;
    font-weight: bold;
}

/* navFilter */
.admin section .navFilter .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* navFilter 멘트 */
.admin section .navFilter .nav .subComment {
    font-size: 18px;
}

/* section pic 화면구성 */
.admin section .pic_container .pic_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    /* bottom: 30px; */
}

.admin section .pic_container .pic_list .inner {
    margin-bottom: 20px;
}

/* section pic 사진 */
.admin section .pic_container .pic_list img {
    width: 290px;
    height: 160px;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

/* section pic 사진 동작구현 */
.admin section .pic_container .pic_list .inner img {
    transform: rotate(0) scale(1);
    transition: .3s ease-in-out;
}

.admin section .pic_container .pic_list .inner:hover img {
    transform: rotate(5deg) scale(1);
}

/* section pic 작가, 제목, 내용부분 */
.admin section .pic_container .pic_list .inner .comment {
    width: 280px;
    height: 130px;
}

/* section pic 작가부분 */
.admin section .pic_container .pic_list .inner .author {
    font-size: 14px;
}

/* section pic 제목부분 */
.admin section .pic_container .pic_list .inner .title {
    font-size: 18px;
    font-weight: bold;
}

/* section pic 내용부분 */
.admin section .pic_container .pic_list .inner .description {
    width: 100%;
    height: 65px;
    font-size: 15px;
    position: relative;
    top: 18px;
    color: rgb(75, 90, 105);
}

/* section pic 아래밑줄 */
.admin section .pic_container .pic_list .inner .line {
    border-bottom: 2px solid black;
}

/* 미디어쿼리 */
@media only all and (min-width: 1200px) {
    .admin section .pic_container .pic_list img {
        width: 100%;
    }
}