@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* admin 시작  */

.admin {
    height: auto;
    margin: 10px 50px;
    font-family: "Gowun Dodum", sans-serif;
}

.admin header .container {
    width: 75%;
    display: column;
}

/* 상단 로고 */

.admin header .logo {
    width: 100%;
    height: 90px;
}

.admin header .logo div#logo_picId {
    width: 100%;
    height: 100%;
    background-image: url(../../img/jikbakguri2.png);
    background-repeat: no-repeat;
}

/* nmenu */

.admin header .menu {
    width: 90%;
    height: 50px;
    display: flex;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    align-items: center;
    text-align: center;
}

.admin header .menu li {
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

/* section */

.admin section .pic_container {
    width: 100%;
    margin-top: 15px;
}

/* section 멘트 */
.admin section .pic_container .maindComment {
    font-size: 20px;
    font-weight: bold;
}

/* navFilter */
.admin section .navFilter .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* navFilter 멘트 */
.admin section .navFilter .nav .subComment .filter {
    font-size: 20px;
}

/* section pic 화면구성 */
.admin section .pic_container .pic_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    bottom: 30px;
}

/* section pic 사진간격 */
.admin section .pic_container .pic_list .inner {
    margin-top: 30px;
}

/* section pic 사진 */
.admin section .pic_container .pic_list img {
    width: 280px;
    height: 180px;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

/* section pic 사진 동작구현 */
.admin section .pic_container .pic_list .inner img {
    transform: rotate(0) scale(1);
    transition: .3s ease-in-out;
}

.admin section .pic_container .pic_list .inner:hover img {
    transform: rotate(5deg) scale(1);
}

/* section pic 작가, 제목, 내용부분 */
.admin section .pic_container .pic_list .inner .comment {
    width: 280px;
    height: 100px;
}

/* section pic 작가부분 */
.admin section .pic_container .pic_list .inner .author {
    font-size: 14px;
    position: relative;
    top: 2px;
}

/* section pic 제목부분 */
.admin section .pic_container .pic_list .inner .title {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

/* section pic 내용부분 */
.admin section .pic_container .pic_list .inner .description {
    font-size: 12px;
    position: relative;
    top: 18px;
    color: rgb(75, 90, 105);
}

/* section pic 아래밑줄 */
.admin section .pic_container .pic_list .inner .line {
    border-bottom: 2px solid black;
    position: relative;
    top: 10px;
}