* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.align {
    display:block;
    text-align:center;

}

input {
    display: block;
    width: 300px;
    height: 40px;
    margin: 10px auto;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-indent: 10px;
    outline-color: gray;

}

#certifyBtn {
    display: block;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    background: black;
    color: #dbdbdb;

}
