/* join */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* 전체 스타일 */
.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Gowun Dodum", sans-serif;
}

/* 링크색깔 */
.join a {
    color: rgb(16, 63, 134);
}

/* 메인로고 */
.join .joinLogo div.joinLogoPic {
    position: relative;
    top: 8px;
    right: 104px;
    cursor: pointer;
}

/* ========== form 하위 ========== */

/* form 스타일 */
.join form fieldset {
    width: 500px;
    border: none;

}

/* 상단 멘트 스타일 */
.join form fieldset input.comment {
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 18px;
}

/* input 스타일 */
.join form fieldset div.inputBox input {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    margin-top: 15px;
    font-size: 15px;
    color: #222222;
    outline: none;
}

.join form fieldset input::placeholder {
    color: #aaaaaa;
}

/* 체크박스 스타일 */
.join form fieldset div.inputCheck {
    text-align: left;
    position: relative;
    margin-bottom: 40px;

}

/* 버튼 스타일 */
.join form fieldset div.loginBtn button {
    width: 100%;
    max-width: 400px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 40px 40px black inset;
    transition: all 250ms ease-in-out;
}

/* 버튼 스타일 */
.join form fieldset div.loginBtn button:hover {
    box-shadow: 0 0 10px 0 rgb(107, 107, 201) inset, 0 0 10px 1px rgb(125, 125, 212);
}

/* input 유효성확인 멘트 스타일 */

.join form fieldset .warning {
    color: rgb(230, 35, 35);
}

.join form fieldset .inputBox .warning {
    color: rgb(230, 35, 35);
    position: relative;
    bottom: 25px;
}

.join form fieldset div.inputBox label {
    display: flex;
    position: relative;
    bottom: 40px;
    font-size: 20px;
    color: #aaa;
    transition: all .2s ease;
}