/* lsh */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login .wrap_container::after {
    content:"";
    clear: both;
    display: block;
}

.login .left{
    background: #fff;
    width: 50%;
    border: none;
    margin-bottom: 0.6rem;
    float: left;
}

.login .right {
    padding-top: 0;
	width: 50%;
	text-align: center;
    float: right;
    
}

.login .wrap_container .left {
    padding: 13.0rcap;
   
}

.login .wrap_container .right img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}



.login input {
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-indent: 10px;
    outline-color: gray;
}

.login input:first-child{
    margin-bottom: 0.5rem;
}
.login input:nth-child(2){
    margin-bottom: 1.58rem;
}

.login li {
    list-style: none;
}
.login{
    text-decoration: none;
    color: inherit;
}

.login.loginbtn{
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: black;
    color: #dbdbdb;
}

.login.logo{
    display: block;
    width: 15rem;
    margin: 0 auto;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

.login.findpw{
    text-align: center;
}

.login.create_id{
    text-align: center;
}
/* lsh */


