/* lsh */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login .wrap_container::after {
    content:"";
    clear: both;
    display: block;
}

.login .left{
    background: #fff;
    width: 50%;
    border: none;
    margin-bottom: 0.6rem;
    float: left;
    padding: 13.0rcap;
    
       
}

.login .right {
    padding-top: 0;
	width: 50%;
	text-align: center;
    float: right;
    
}



.login .wrap_container .right img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.login .inputbox {
    padding-top: 140px;
}

.login .loginbtn{
    margin: 0 auto;
    display: block;
    
    
}
.login a{
    text-decoration-line: none;
    color: black;
}

/* 
.login input {
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-indent: 10px;
    outline-color: gray;
    
} */

.login input:first-child{
    margin-bottom: 0.5rem;
}
.login input:nth-child(2){
    margin-bottom: 1.58rem;
}

.login li {
    list-style: none;
}
.login{
    text-decoration: none;
    color: inherit;
}

.login.loginbtn{
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: black;
    color: #dbdbdb;
}

.login.logo{
    display: block;
    width: 15rem;
    margin: 0 auto;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

.login.findpw{
    text-align: center;
}

.login.create_id{
    text-align: center;
}
/* lsh */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div {
    position: relative;
    width: 300px;
    margin-left: 50px;
    margin-top: 100px;
  }
  
  input {
    font-size: 15px;
    color: #222222;
    width: 300px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
  }
  
  input::placeholder { color: #aaaaaa; }
  input:focus { outline: none; }
  
  span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;  /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
  }
  
  input:focus ~ label, input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
  }
  
  input:focus ~ span, input:valid ~ span {
    width: 100%;
  }
