/* lsh */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap_container::after {
    content:"";
    clear: both;
    display: block;
}

.left{
    background: #fff;
    width: 50%;
    border: none;
    margin-bottom: 0.6rem;
    float: left;
}

.right {
    padding-top: 0;
	width: 50%;
	text-align: center;
    float: right;
    
}

.wrap_container .left {
    padding: 13.0rcap;
   
}

.wrap_container .right img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}



input {
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-indent: 10px;
    outline-color: gray;
}

input:first-child{
    margin-bottom: 0.5rem;
}
input:nth-child(2){
    margin-bottom: 1.5rem;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.loginbtn{
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: black;
    color: #dbdbdb;
}

.logo{
    display: block;
    width: 15rem;
    margin: 0 auto;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

.findpw{
    text-align: center;
}

.create_id{
    text-align: center;
}
/* lsh */


