.body{
    background-color:rgb(255, 255, 255);
    margin : 0px;
    margin-top: 10px;
    padding : 100px;
    padding-top:10px;
}

.displaytext{
  text-align: center;
  color:black;
  font-size: 30px;
}

.img{
  text-align: center;
}

.box{
  position:flex;
  margin : 0 auto;
  text-align: center;
  width: 100%;
}

input{
  border:1px solid black; 
  border-radius: 5px;
  width: 300px;
  height:50px;
  text-align: center;
  margin : 0 auto;
}

.displaytextbox{
  position:flex;
  margin : 0 auto;
  text-align: center;
  width: 50%;
}

.home{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
}

.register{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.ended{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.purchase{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.profile{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
}

.regifunding{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.paidfunding{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.textarea{
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border-color:rgb(0, 0, 0);
  color:black;
  margin:5px;
  margin-top:0px;
}

.registered{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top: 20px;
  margin-right:20px;
}

.paid{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top:0px;
  margin-right:20px;
}

.placeholder{
  text-align:left;
  font-style:italic;
  margin:20px;
  margin-bottom :0px;
  margin-top:1px;
}