@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

.pwFind * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pwFind {
    display: flex;
    margin: auto;
}

.pwFind .align {
    margin-left:50px;
    margin-top: 90px;
}

.pwFind .inputGroup {
    position: relative;
    width: 460px;
    margin-left: 50px;
    margin-top: 100px;
}

.pwFind input {
    font-size: 15px;
    color: #222222;
    width: 460px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
}

.pwFind input::placeholder {
    color: #aaaaaa;
}

.pwFind input:focus {
    outline: none;
}

.pwFind span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;
    /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
}

.pwFind label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
}

.pwFind input:focus~label,
.pwFind input:valid~label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
}

.pwFind input:focus~span,
.pwFind input:valid~span {
    width: 100%;
}

/* 확인버튼 */
.pwFind .certifyBtn {
    display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:20px;
    background: rgb(26, 74, 233);
    color: white;
    border-radius: 30px;
    border:transparent;
    transition:0.5s;
    font-size: 18px;
    font-weight:bold;
}

/* 확인버튼 효과 */
.pwFind .certifyBtn:hover{
    background-color: rgb(1, 20, 85);
}

/* 비번찾기화면 배너 이미지 */
.pwFind .right .banner{
    width: 100%;
    right:100px;
    margin-left: 100px;
}

/* 로고 */
.pwFind .align .logo img{
    width:80%;
    position: relative;
    left:30px;
}

/* 버튼 밑 글씨 */

.pwFind .align .inputLogin{
    text-align: center;
    margin-top:5px;
}

.pwFind .align .inputLogin{
    font-family: "Gowun Dodum", sans-serif;    
}
