*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.body{
    background-color:rgb(255, 255, 255);
    margin : 0px;
    margin-top: 10px;
    padding : 100px;
    padding-top:10px;
}

.mypage {
  height: auto;
  margin: 10px 50px;
  font-family: "Gowun Dodum", sans-serif;
}


.img{
  /* border:1px solid red; */
  text-align: center;
  padding:10px;
  padding-bottom:6px;
  margin-left:25px;
  margin-right:25px;
  margin-bottom:30px;
}

.displaytextbox{
  position:flex;
  margin-left:100px;
  margin-right:100px;
  text-align: center;
  /* border:1px solid black; */
}

.displaytextbox .displaytext{
  text-align: center;
  color:black;
  font-size: 50px;
  margin-bottom:50px;
}

.buttons{
  /* border:1px solid black; */
  margin: 25px;
  margin-bottom:10px;
  padding-left:20px;
  padding: 0px;
}

.buttons .home{
  outline:none !important;
  box-shadow:none !important;
  
  width: 150px;
  /* background-color: rgb(255, 100, 100); */
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:black;
}

.buttons .home:hover{
  background-color: black;
  color:white;
  transition:0.3s;
}


.buttons .register{
  outline:none !important;
  box-shadow:none !important;

  width: 150px;
  background-color: rgb(255, 100, 100);
  padding: 15px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:white;
  display:inline-block;
}

.buttons .register:hover{
  background-color: rgb(220, 80, 80);
  transition:0.2s;
}

.buttons .ended{
  outline:none !important;
  box-shadow:none !important;

  width: 150px;
  background-color: rgb(255, 100, 100);
  padding: 15px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:white;
  display:inline-block;
}

.buttons .ended:hover{
  background-color: rgb(220, 80, 80);
  transition:0.2s;
}

.buttons .purchase{
  outline:none !important;
  box-shadow:none !important;

  width: 150px;
  background-color: rgb(255, 100, 100);
  padding: 15px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:white;
  display:inline-block;
}

.buttons .purchase:hover{
  background-color: rgb(220, 80, 80);
  transition:0.2s;
}

.menu{
  /* border: 1px solid black; */
padding-left:20px;
padding: 0px;
margin:25px;
}

.menu .profile{
  outline:none !important;
  box-shadow:none !important;

  width: 200px;
  background-color: rgb(255, 100, 100);
  padding: 16px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:white;
  margin-inline: 1px;
}

.menu .profile:hover{
  background-color: rgb(220, 80, 80);
  transition:0.2s;
}

.menu .regifunding{
  outline:none !important;
  box-shadow:none !important;
  
  width: 200px;
  background-color: rgb(255, 100, 100);
  padding: 16px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:white;
  display:inline-block;
  margin-inline: 1px;
}

.menu .regifunding:hover{
  background-color: rgb(220, 80, 80);
  transition:0.2s;
}

.menu .paidfunding{
  outline:none !important;
  box-shadow:none !important;

  width: 200px;
  background-color: rgb(255, 100, 100);
  padding: 16px;
  border-radius: 5px;
  border-color:transparent;
  text-align: center;
  color:white;
  display:inline-block;
  margin-inline: 1px;
}

.menu .paidfunding:hover{
  background-color: rgb(220, 80, 80);
  transition:0.2s;
}

.profilemenu{
  text-align:left;
  font-style:italic;
  font-size: 20px;
  margin:25px;
  margin-top:10px;
  /* border:1px solid black; */
  margin-bottom:20px;
}

.textarea{
  /* border:1px solid black; */
  margin:0px;
}

.area{
  background-color: rgba(139, 210, 252, 0.712);
  border:1px solid black;
  margin:25px;
  padding-top:0px;
  text-align: left;
}

.area .registered{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top: 20px;
  margin-bottom : 20px;
  margin-inline: 30px;
}

.area .paid{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top:20px;
  margin-bottom : 20px;
  margin-inline: 30px;
}

/* 정규형 css 시작 */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* admin 시작  */

/* header */

.mypage header .container {
    width: 75%;
    display: column;
}

.mypage header .logo {
    width: 100%;
    height: 90px;
}

.mypage header .logo div#logo_picId {
    width: 100%;
    height: 100%;
    background-image: url(../../img/jikbakguri2.png);
    background-repeat: no-repeat;
}

.mypage header .menu {
    width: 90%;
    height: 50px;
    display: flex;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    align-items: center;
    text-align: center;
}

.mypage header .menu li {
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

/* navFilter */

.mypage .navFilter .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 5px;
}

.mypage .navFilter .nav .subComment .filter {
    font-size: 20px;
}

/* section */

.mypage section .pic_container {
    width: 100%;
    margin-top: 15px;
}

.mypage section .pic_container .maindComment {
    font-size: 20px;
    font-weight: bold;
}

.mypage section .pic_container .pic_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    bottom: 30px;
}

.mypage section .pic_container .pic_list .inner {
    margin-top: 30px;
}

.mypage section .pic_container .pic_list .inner .comment {
    width: 280px;
    height: 100px;
}


.mypage section .pic_container .pic_list .inner .author {
    font-size: 14px;
    position: relative;
    top: 2px;
}

.mypage section .pic_container .pic_list .inner .title {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.mypage section .pic_container .pic_list .inner .description {
    font-size: 12px;
    position: relative;
    top: 18px;
    color: rgb(75, 90, 105);
}

.mypage section .pic_container .pic_list .inner .line {
    border-bottom: 2px solid black;
    position: relative;
    top: 10px;
}

.mypage section .pic_container .pic_list img {
    width: 280px;
    height: 180px;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.mypage section .pic_container .pic_list .inner img {
    transform: rotate(0) scale(1);
    transition: .3s ease-in-out;
}

.mypage section .pic_container .pic_list .inner:hover img {
    transform: rotate(5deg) scale(1);
}