*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.body{
    background-color:rgb(255, 255, 255);
    margin : 0px;
    margin-top: 10px;
    padding : 100px;
    padding-top:10px;
}

.displaytext{
  text-align: center;
  color:black;
  font-size: 30px;
}

.img{
  text-align: center;
  border:1px solid red;
}

.box{
  position:flex;
  margin : 0 auto;
  text-align: center;
  width: 100%;
}

input{
  border:1px solid black; 
  border-radius: 5px;
  width: 300px;
  height:50px;
  text-align: center;
  margin : 0 auto;
}

.displaytextbox{
  position:flex;
  margin : 0 auto;
  text-align: center;
  width: 50%;
}

.home{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
}

.register{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.ended{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.purchase{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.profile{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  margin-inline: 1px;
}

.regifunding{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
  margin-inline: 1px;
}

.paidfunding{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
  margin-inline: 1px;
}

.registered{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top: 20px;
  margin-bottom : 20px;
  margin-inline: 30px;
}

.paid{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top:20px;
  margin-bottom : 20px;
  margin-inline: 30px;
}

.profilemenu{
  text-align:left;
  font-style:italic;
  margin:25px;
  margin-top:10px;
  border:1px solid black;
  margin-bottom:20px;
}

.textarea{
  border:1px solid black;
  margin:25px;
}

.text{
  background-color: rgb(245, 137, 137);
  margin:25px;
  color:black;
  padding-top:0px;
  text-align: left;
}

.buttons{
  padding-left:20px;
  padding: 20px;
  padding-bottom:5px;
}

.menu{
  padding-left:20px;
  padding: 20px;
}