*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.body{
    background-color:rgb(255, 255, 255);
    margin : 0px;
    margin-top: 10px;
    padding : 100px;
    padding-top:10px;
}

.img{
  /* border:1px solid red; */
  text-align: center;
  padding:10px;
  padding-bottom:6px;
  margin-left:25px;
  margin-right:25px;
  margin-bottom:30px;
}

.displaytextbox{
  position:flex;
  margin-left:100px;
  margin-right:100px;
  text-align: center;
  /* border:1px solid black; */
}

.displaytextbox .displaytext{
  text-align: center;
  color:black;
  font-size: 50px;
  margin-bottom:50px;
}

.buttons{
  /* border:1px solid black; */
  margin: 25px;
  margin-bottom:10px;
  padding-left:20px;
  padding: 0px;
}

.buttons .home{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
}

.buttons .register{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.buttons .ended{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.buttons .purchase{
  width: 150px;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
}

.menu{
  /* border: 1px solid black; */
padding-left:20px;
padding: 0px;
margin:25px;
}

.menu .profile{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  margin-inline: 1px;
}


.menu .regifunding{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
  margin-inline: 1px;
}

.menu .paidfunding{
  width: 200px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 5px;
  border-color:white;
  text-align: center;
  color:white;
  display:inline-block;
  margin-inline: 1px;
}

.profilemenu{
  text-align:left;
  font-style:italic;
  font-size: 20px;
  margin:25px;
  margin-top:10px;
  /* border:1px solid black; */
  margin-bottom:20px;
}

.textarea{
  border:1px solid black;
  margin:25px;
}

.area{
  background-color: rgba(250, 131, 131, 0.712);
  margin:25px;
  color:black;
  padding-top:0px;
  text-align: left;
}

.area .registered{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top: 20px;
  margin-bottom : 20px;
  margin-inline: 30px;
}

.area .paid{
  width:200px;
  height:200px;
  display:inline-block;
  margin-top:20px;
  margin-bottom : 20px;
  margin-inline: 30px;
}
