.detail_1 .logo img{
    max-width: 300px;
}

.detail_1 .container .left {
    float: left;
    width: 50%;
    height: 600px;
}
.detail_1 .container .left img {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    
}

.detail_1 .container .left p{
    text-align: left;
}

.detail_1 .container ul {
    display:table;
    margin: 80px auto;
    background: rgb(241, 240, 240);
    border-radius: 3px;
    width: 70%;
    padding: 10px 20px;
}

.detail_1 .container .title{
    margin-left: 450px;
}

.detail_1 .container ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    
}

.detail_1 .container ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 27px;
    position: relative;
    display: block;

}
.detail_1 .container .right {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    position: relative;
    left: 30px;
    
}

.detail_1 .container .leftright .right .target_price,
.price,
.restDate,
.persons,
.supporter,
.sponsor {
    width: 100%;
    /* border: 1px solid black; */
}

.detail_1 .container .right div p {
    margin-bottom: 1px;
}

.detail_1 .container .right div strong {
    font-size: 30px;
}

.detail_1 .container .right button.sponsor {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 40px 40px black inset;
    transition: all 150ms ease-in-out;
}

.detail_1 .container .right button.sponsor:hover {
    box-shadow: 0 0 10px 0 rgb(158, 158, 235) inset, 0 0 10px 1px rgb(235, 235, 238);

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

.body{
    background-color:rgb(255, 255, 255);
    margin : 0px;
    margin-top: 10px;
    padding : 100px;
    padding-top:10px;
    }

.displaytext{
    text-align: center;
    color:black;
    font-size: 40px;
    border:1px solid black;
    margin-left:100px;
    margin-right:100px;
    margin-top:30px;
    margin-bottom:30px;
    }


.body.img{
    display:flex;
    justify-content: center;
    margin-top:30px;
    overflow: hidden;
}

.body .detail3{
    width:100%;
}

.detail3 .bigbox{
    width:100%;
    height:100vh;
    display:flex;
}

.bigbox .left{
    width:50%;
    text-align: center;
}

.descriptiontext{
    padding-top:20px;
}

.bigbox .right{
    width:40%;
    text-align: center;
    position:relative;
    left:30px;
    display:flex;
    flex-direction: column;
}

.bigbox .right .product{
    background-color:rgba(255, 136, 156, 0.705);
    border-radius: 10px;
    width:200px;
    height:100px;
    margin-top: 20px;
    position: relative;
    left:150px;
}
