body{
    background-color:rgb(255, 255, 255);
}

.endpop .img{
    display:flex;
    justify-content: center;
}

.endpop .content{
    width: 100%;
    justify-content: center;
}

.endpop .description{
    width:100%;
    float:left;
    clear:both;
    text-align: center;
}