*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body{
    margin : 0px;
    /* margin-top: 10px;
    padding : 100px;
    padding-top:10px; */
    /* background-image:url(../../img/lightblue.jpg) ; */
    background-repeat:none;
}

.register{
    width: 100%;
}

.register .displaytext{
text-align: center;
color:black;
font-size: 30px;
}

.register .content{
width: 100%;
/* padding:5px; */
margin:5px;
justify-content: center;
display: flex;
} 

.register .content .mainimage{
width:50%;
height:100vh;
position: relative;
left:-10px;
margin-top:-50px;
background-size:cover;
/* padding:20px;
padding-right: 20px; */
/* margin-top:0px; */
}

.register .content .description{
width:60%;
clear:both;
display:inline-block;
text-align: center;
margin-bottom:50px;
/* padding:10px;
padding-left:10px;
padding-top:00px; */
}

.register .content .description .theme{
width:90%;
height:100px;
font-size:25px;
margin-top:20px;
margin-bottom:20px;
left:30px;
border: 2px solid rgb(255, 100, 100);
border-radius: 5px;
resize: none;
outline: none;
}

.register .content .description .details{
width:90%;
height:500px;
font-size:25px;
margin-top:20px;
margin-bottom:20px;
border: 2px solid rgb(255, 100, 100);
border-radius: 5px;
resize: none;
outline: none;
}

.register .content .button{
width: 140px;
height:50px;
font-size:20px;
background-color: rgb(255, 100, 100);
color:white;
border:transparent;
border-radius: 5px;
margin-top:30px;
display:inline;
}

.register .content .button:hover{
    background-color: rgb(0, 0, 0); 
    transition:0.5s;
    color:white;
  }

/* test */
.register .content .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.register .content .upload-btn-wrapper .btn{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 100, 100);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.register .content .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}