body{
    background-color:rgb(255, 255, 255);
}

.img{
    display:flex;
    justify-content: center;
}

.content{
    width: 100%;
    justify-content: center;
}

.description{
    width:100%;
    float:left;
    clear:both;
    text-align: center;
}