main .other .otherTwo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .other .otherTwo .otherPic_container {
    width: 100%;
}

main .other .otherTwo .otherPic_container .inner {
    width: 100%;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
}

main .other .otherTwo .otherPic_container .inner img {
    width: 90%;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    transition-duration: 0.3s;
}

main .other .otherTwo .otherPic_container .inner:hover img {
    transform: scale(1.05);
}

main .other .otherTwo .otherPic_container .inner .comment {
    height: 120px;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
}

main .other .otherTwo .author {
    font-size: 16px;
    font-weight: bold;
}

main .other .otherTwo .title {
    font-size: 15px;
    padding-top: 10px;
}